@import url(default.css);

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
    @font-face{ 
        font-family: 'Pretendard';
        font-weight: 400;
        font-display: swap;
        src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.2; /*배수 - 글자크기에 1.2배*/
    color: #3d3d3d;
    word-break: keep-all;
}
#wrap {
    min-width: 1260px;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 31px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    padding: 31px 35px 27px 21px;
    display: block;
}
header .gnb ul li a:hover {
    font-weight: 700;
}
.visual {
    height: 700px;
    background: url(../images/main_bg.png) no-repeat center center / cover;
    text-align: center;
    color: #fff;
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    padding: 241px 0 0 0;
}
.visual p {
    font-size: 20px;
    margin: 20px 0 166px 0;
}
.visual .btn a {
    border-bottom: 1px solid #fff;
    margin: 0 31px 0 31px;
}
.visual .btn a:hover {
    font-weight: 700;
}
.introduce .txt {
    text-align: center;
}
.introduce .txt h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 182px 0 24px 0;
}
.introduce .txt p {
    font-size: 20px;
    line-height: 1.2;
}
.introduce .leaf {
    display: flex;
    justify-content: center;
    margin: 33px 0 82px 0;
}
.introduce .btn a {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    border: 1px solid #000;
    border-radius: 49px;
    padding: 20px 58px;
    margin: 0 24px 0 0;
}
.introduce .btn a:hover {
    color: #fff;
    background-color: #000;
}
.introduce .txt strong {
    font-size: 20px;
    line-height: 1.2;
    margin: 60px 0 0 0;
    display: block;
}
.introduce .btn {
    display: flex;
    justify-content: center;
    margin: 41px 0 0 0;        
}
.introduce .btn span {
    font-size: 30px;
}
.introduce .btn span:hover {
    font-weight: 700;
}
.addition {
    height: 700px;
    background: url(../images/aquareum.png) no-repeat center center / cover;
    text-align: center;
    color: #fff;
    margin: 178px 0 0 0;
}
.addition h2 {
    font-size: 50px;
    font-weight: 700;
    padding: 182px 0 51px 0;
}
.addition .btn a {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 29px;
    padding: 20px 40px;
}
.addition .btn a:hover {
    background-color: #000;
    border: none;
}
footer .logo {
    margin: 100px 0 44px 0;
}
footer .f_nav ul {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    display: flex;
}
footer .f_nav ul li {
    margin: 0 34px 33px 0;
}
footer .f_info {
    margin: 0 0 60px 0;
}
footer .f_info address,
footer .f_info span {
    margin: 0 14px 10px 0;
    display: inline-block;
}
footer .wrapper {
    position: relative;
}
footer .family span {
    font-weight: 700;
    color: #1d1d1d;
}
footer .family {
    position: absolute;
    right: 0;
    top: 20px;
}
footer .family button {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 27px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
       align-items: center;
       padding: 0 34px;
}